.button {
  display: block;
  width: 226px;
  margin: 0 auto;
  padding: 11px 34px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  background-color: $color-theme;
  border-radius: 22px;
  outline: none;
}

.button:hover,
.button:focus {
  background-color: $color-accent;
}

.button:active {
  background-color: $color-accent-dark;
}
