.cover {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin: -56px 0 0;
  background: #bae0f4 url("../img/norway-mobile.jpg") no-repeat 50% 50%;

  @media (min-width: $tablet-width) {
    & {
      background: #bae0f4 url("../img/norway-tablet.jpg") no-repeat 50% 50%;
    }
  }

  @media (min-width: $laptop-width) {
    & {
      margin: -268px 0 0;
      background: #bae0f4 url("../img/norway-laptop-desktop.jpg") no-repeat 50% 50%;
    }

    body[data-nojs] & {
      margin: -294px 0 0;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      margin: -312px 0 0;
    }

    body[data-nojs] & {
      margin: -338px 0 0;
    }
  }
}

.cover__text {
  max-width: 320px;
  margin: 0;
  padding: 266px 22px 22px; // Huge padding-top for ie-11 :(
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  font-style: normal;
  color: $color-theme;
  text-align: center;

  @media (min-width: $tablet-width) {
    & {
      max-width: 768px;
      padding: 410px 22px 122px;
      font-size: 22px;
      line-height: 34px;
    }
  }

  @media (min-width: $laptop-width) {
    & {
      padding: 434px 22px 90px;
      max-width: 840px;
      font-size: 24px;
      line-height: 38px;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      padding: 567px 22px 157px;
    }
  }
}

.cover__text br {
  display: none;

  @media (min-width: $tablet-width) {
    & {
      display: inline;
    }
  }
}
