.dropdown-menu {
  box-shadow: inset 0 1px 0 rgba(38, 48, 58, 0.1),
    inset 0 2px 0 rgba(255, 255, 255, 0.4);

  @media (min-width: $laptop-width) {
    box-shadow: none;
  }
}

.dropdown-menu__activator {
  display: none;

  @media (min-width: $laptop-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    outline: none;
  }
}

.dropdown-menu__activator:hover .dropdown-menu__current-item::before,
.dropdown-menu__activator:focus .dropdown-menu__current-item::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: 40px;
  height: 40px;
  border: 1px dashed $color-accent;
  border-radius: 22px;
}

.dropdown-menu__current-item {
  display: flex;
}

.dropdown-menu__arrow {
  position: absolute;
  top: -4px;
  right: -14px;
  padding: 13px 0 12px;
  fill: $color-theme;

  @media (min-width: $desktop-width) {
    right: -26px;
    padding: 13px 10px 12px;
  }
}

.dropdown-menu__activator:hover .dropdown-menu__arrow,
.dropdown-menu__activator:focus .dropdown-menu__arrow {
  fill: #e96f49;
}

.dropdown-menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 11px 44px;
  list-style: none;

  @media (min-width: $laptop-width) {
    display: none;

    .dropdown-menu:hover &,
    .dropdown-menu:focus-within & {
      display: flex;
      flex-direction: column;
      margin-top: 6px;
      padding: 0;
      background-color: #eeeeee;
      border-radius: 22px;
    }
  }
}

.dropdown-menu__item:not(:first-child) {
  margin-left: 22px;

  @media (min-width: $laptop-width) {
    margin-left: 0;
  }
}

.dropdown-menu__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 6px;
  border-radius: 22px;
  outline: none;
}

.dropdown-menu__link:hover svg,
.dropdown-menu__link:focus svg {
  border-radius: 22px;
  box-shadow: 0 0 0 2px #eeeeee,
    0 0 0 4px $color-accent;
}

.dropdown-menu__link:active svg {
  box-shadow: 0 0 0 1px #eeeeee,
    0 0 0 3px $color-accent-dark;
}
