.footer {
  padding: 37px 22px;
  text-align: center;
  background-color: #edf8ff;
  box-shadow: 0 0 0 2px #ffffff;

  @media (min-width: $laptop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 36px 22px;
    box-shadow: none;
  }
}

.footer__inner {
  @media (min-width: $laptop-width) {
    display: flex;
    justify-content: space-between;
    width: 846px;
  }

  @media (min-width: $laptop-width) {
    width: 1140px;
  }
}

.footer__inner-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $laptop-width) {
    flex-direction: row;
    justify-content: flex-start;
    max-width: 60%;
    min-width: 40%;
  }
}

.footer__inner-right {
  @media (min-width: $laptop-width) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 60%;
    min-width: 40%;
  }
}

.footer__logo {
  margin-bottom: 32px;

  @media (min-width: $laptop-width) {
    margin-bottom: 0;
  }
}

.footer__kosher-logo {
  display: flex;
  margin-bottom: 22px;

  @media (min-width: $laptop-width) {
    margin-bottom: 0;
    margin-left: 32px;
  }
}

.footer__social {
  margin: 0 0 22px;

  @media (min-width: $laptop-width) {
    margin-bottom: 0;
  }
}

.footer__copy {
  margin: 0;
  font-size: 13px;
  line-height: 26px;

  @media (min-width: $laptop-width) {
    margin-left: 32px;
  }

  @media (min-width: $desktop-width) {
    line-height: 30px;
  }
}

.footer__copy br {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
