.footer {
  padding: 37px 22px;
  text-align: center;
  background-color: #edf8ff;
  box-shadow: 0 0 0 2px #ffffff;

  @media (min-width: $laptop-width) {
    & {
      padding: 36px 22px;
      box-shadow: none;
    }
  }
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $laptop-width) {
    & {
      flex-direction: row;
      max-width: 1140px;
      margin: 0 auto;
    }
  }
}

.footer__logo {
  margin-bottom: 32px;

  @media (min-width: $laptop-width) {
    & {
      margin-bottom: 0;
    }
  }
}

.footer__kosher-logo {
  display: flex;
  margin-bottom: 22px;

  @media (min-width: $laptop-width) {
    & {
      margin-bottom: 0;
      margin-left: 32px;
    }
  }
}

.footer__social {
  margin: 0 0 22px;

  @media (min-width: $laptop-width) {
    & {
      margin-bottom: 0;
      margin-left: 81px;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      margin-left: 161px;
    }
  }
}

.footer__copy {
  margin: 0;
  font-size: 13px;
  line-height: 26px;

  @media (min-width: $laptop-width) {
    & {
      margin-left: 32px;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      line-height: 30px;
    }
  }
}

.footer__copy br {
  @media (min-width: $desktop-width) {
    & {
      display: none;
    }
  }
}
