.header {
  position: relative;
  width: 100%;
  background-color: #ffffff;
}

.page-header__btn {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #e6e6e6;

  body[data-nojs] & {
    display: none;
  }
}

.header__nav {
  display: none;
}

.header__nav--expended {
  display: block;
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
}

.header__logo {
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 56px;
  text-align: center;
  color: #00519c;
  background-color: #ffffff;
}

.header__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__item {
  position: relative;
}

.header__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 -1px 0 rgba(0, 81, 156, 0.1);
}

.header__link {
  display: block;
  padding: 0 44px 0 44px;
  font-size: 18px;
  line-height: 44px;
  color: #00519c;
  text-align: center;
  text-decoration: none;
  background-color: rgba(247, 247, 247, 0.5);
}
