.header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $tablet-width) {
    & {
      justify-content: center;
    }
  }

  @media (min-width: $laptop-width) {
    & {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}

body[data-nojs] .header {
  @media (max-width: $laptop-width - 1) {
    & {
      justify-content: center;
    }
  }
}

.page-header__btn {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width: 56px;
  height: 56px;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  fill: $color-theme;
  outline: none;

  body[data-nojs] & {
    display: none;
  }

  @media (min-width: $laptop-width) {
    & {
      display: none;
    }
  }
}

.page-header__btn:hover,
.page-header__btn:focus {
  fill: $color-accent;
}

.page-header__btn:active {
  fill: $color-accent-dark;
}

.header--extended .page-header__open-menu {
  display: none;
}

.header:not(.header--extended) .page-header__close-menu {
  display: none;
}

.header__nav {
  display: none;

  @media (min-width: $laptop-width) {
    & {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 43px;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      margin-bottom: 87px;
    }
  }
}

.header__nav-inner {
  @media (min-width: $laptop-width) {
    & {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 22px 0;
    }
  }
}

.header--extended .header__nav {
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 56px;
  background-color: rgba(247, 247, 247, 0.9);
  animation: bounce 0.4s;

  @media (min-width: $laptop-width) {
    & {
      position: relative;
      display: flex;
      background: none;
      animation: none;
      padding: 0;
    }
  }
}

body[data-nojs] .header__nav {
  @media (max-width: $laptop-width - 1) {
    & {
      display: block;
      width: 100%;
      background-color: #f8f8f8;
    }
  }
}

.header__logo {
  position: relative;
  z-index: 2;
  display: flex;
  color: $color-theme;
  padding: 13px 28px 13px 44px;

  @media (min-width: $laptop-width) {
    & {
      padding: 0;
    }
  }
}

.page-header__logo-image {
  width: 192px;
  height: 30px;

  @media (min-width: $laptop-width) {
    & {
      width: 246px;
      height: 140px;
    }
  }
}

.header__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $laptop-width) {
    & {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 872px;
    }
  }
}

.header__item {
  box-shadow: inset 0 1px 0 rgba(38, 48, 58, 0.1),
    inset 0 2px 0 rgba(255, 255, 255, 0.4);

  @media (min-width: $laptop-width) {
    & {
      box-shadow: none;
    }
  }
}

.header__link {
  display: block;
  padding: 0 44px 0 44px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 44px;
  color: $color-theme;
  text-align: center;
  text-decoration: none;
  outline: none;

  @media (min-width: $laptop-width) {
    & {
      font-size: 14px;
      line-height: 17px;
      padding: 12px 0;
    }
  }
}

.header__link:hover,
.header__link:focus {
  text-decoration: underline;
  color: $color-accent;
}

.header__link:active {
  color: $color-accent-dark;
}

.header__dropdown-menu {
  @media (min-width: $laptop-width) {
    & {
      position: absolute;
      top: -2px;
      right: -54px;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      position: absolute;
      right: -113px;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-800px);
    opacity: 0;
  }

  70% {
    transform: translateY(0);
    opacity: 0.7;
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
