.main-products {
  padding: 30px 22px 32px;
  text-align: center;
  background: #eef9ff url("../img/ice_bg-mobile.jpg") no-repeat 50% bottom fixed;

  @media (min-width: $tablet-width) {
    background: #eef9ff url("../img/ice_bg-tablet.jpg") no-repeat 50% bottom fixed;
  }

  @media (min-width: $laptop-width) {
    padding: 50px 22px 32px;
    background: #eef9ff url("../img/ice_bg-laptop-desktop.jpg") no-repeat 50% bottom;
  }

  @media (min-width: $desktop-width) {
    background: #eef9ff url("../img/ice_bg-laptop-desktop.jpg") no-repeat 50% bottom;
  }
}

.main-products__announce {
  width: 425px;
  max-width: 100%;
  margin: 0 auto 23px;
  padding: 22px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    width: 554px;
  }

  @media (min-width: $laptop-width) {
    width: 100%;
    padding: 0;
    background: none;
  }
}

.main-products__title {
  margin: 0 0 12px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  color: $color-theme;

  @media (min-width: $laptop-width) {
    font-size: 36px;
    line-height: 44px;
  }
}

.main-products__text {
  margin-top: 0;
}

.main-products__text br {
  display: none;

  @media (min-width: $laptop-width) {
    display: inline;
  }
}

.main-products__list {
  margin: 0 0 36px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 554px;
    margin: 0 auto;
  }

  @media (min-width: $laptop-width) {
    width: 846px;
    justify-content: flex-start;
    margin-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    width: 1138px;
  }
}

.main-products__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;
  }
}

.main-products__item:not(:first-child) {
  margin-top: 29px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.main-products__item:nth-child(even) {
  @media (min-width: $tablet-width) {
    margin-left: 30px;
  }

  @media (min-width: $laptop-width) {
    margin-left: 0;
  }
}

.main-products__item:not(:nth-child(3n+1)) {
  @media (min-width: $laptop-width) {
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.main-products__item:not(:nth-child(4n+1)) {
  @media (min-width: $desktop-width) {
    margin-left: 30px;
  }
}

.main-products__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 425px;
  max-width: 100%;
  min-height: 240px;
  padding-bottom: 19px;
  color: $color-theme;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 10px;
  outline: none;

  @media (min-width: $tablet-width) {
    width: 262px;
  }
}

.main-products__link:hover,
.main-products__link:focus {
  color: $color-accent;
  box-shadow: inset 0 0 0 2px $color-accent;
}

.main-products__link:active {
  color: $color-accent-dark;
  box-shadow: inset 0 0 0 2px $color-accent-dark;
}

.main-products__image-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.main-products__card-title {
  line-height: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
