.page-wrapper {
  @media (min-width: $laptop-width) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    max-width: 1600px;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  }
}
