.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.social__item:not(:first-child) {
  margin-left: 24px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
}
