.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;

  @media (min-width: $laptop-width) {
    & {
      align-items: center;
    }
  }
}

.social__item {
  margin-left: 24px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
}
