@import "variables";
@import "blocks/scafolding";
@import "blocks/page-wrapper";
@import "blocks/header";
@import "blocks/dropdown-menu";
@import "blocks/cover";
@import "blocks/main-products";
@import "blocks/button";
@import "blocks/footer";
@import "blocks/social";
@import "blocks/hidden";
