$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1200px;
$dpi-2x: 144dpi;
$dppx-2x: 1.5dppx;
$color-theme: #00519c;
$color-text: #000000;
$color-accent: #e96f49;
$color-accent-dark: #ad4627;
